@font-face {
  font-family: "poppins";
  src: url(../font/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../font/Roboto-Light.ttf);
}
@font-face {
  font-family: "allura";
  src: url(../font/Allura-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span.cutlery {
  padding-top: 30px;
  display: inline-block;
}
span.cutlery img {
  height: 30px;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
  font-family: roboto;
}

a,
a:visited {
  color: rgb(234, 224, 224);
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  min-height: 100vh;
}
header .header-nav {
  display: grid;
  grid-template-columns: 15% 65% 20%;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
header .header-nav h2 {
  color: white;
  font-family: allura;
  place-self: center;
  font-size: 2rem;
}
header .header-nav .acceuil {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}
header .header-nav .acceuil li a {
  text-decoration: none;
  color: rgb(234, 224, 224);
  text-transform: uppercase;
  font-size: 0.8rem;
  display: inline-block;
  transition: 0.3s;
}
header .header-nav .acceuil li a:hover {
  transform: translateY(-5px);
}
header .header-nav .social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
}
header .header-nav .social li a {
  display: inline-block;
  transition: 0.3s;
}
header .header-nav .social li a:hover {
  transform: scale(1.2);
}
header .header-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 110px;
}
header .header-container .header-container-title {
  text-align: center;
}
header .header-container .header-container-title h3,
header .header-container .header-container-title h1 {
  line-height: 1;
}
header .header-container .header-container-title h3 {
  font-family: allura;
  color: rgba(151, 111, 37, 0.903);
  font-size: 2.5rem;
  font-weight: 100;
  margin-top: 50px;
}
header .header-container .header-container-title h1 {
  font-family: poppins;
  text-transform: uppercase;
  color: white;
  font-size: 3.5rem;
  letter-spacing: 8px;
}
header .header-container p {
  color: rgb(234, 224, 224);
  font-family: roboto;
  letter-spacing: 5px;
  padding-top: 35px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.banner {
  display: grid;
  grid-template-columns: 50% 50%;
  -ms-flex-align: center;
      align-items: center;
}
.banner .banner-left {
  background: rgb(234, 224, 224);
}
.banner .banner-left .banner-left-container {
  text-align: center;
  margin: 15px;
  border: 1px dashed rgba(151, 111, 37, 0.903);
  padding: 20px;
}
.banner .banner-left .banner-left-container h3 {
  font-family: allura;
  color: rgba(151, 111, 37, 0.903);
  font-size: 1.7rem;
}
.banner .banner-left .banner-left-container h3,
.banner .banner-left .banner-left-container h4 {
  line-height: 1;
}
.banner .banner-left .banner-left-container h4 {
  font-family: poppins;
  text-transform: uppercase;
}
.banner .banner-left .banner-left-container p {
  font-family: roboto;
  font-size: 0.7rem;
  line-height: 1.5;
}
.banner .banner-left .banner-left-container span.img {
  padding-top: 25px;
  display: inline-block;
}
.banner .banner-left .banner-left-container span.img img {
  height: 60px;
  border-radius: 70px;
}
.banner .banner-left .banner-left-container h5 {
  font-family: poppins;
  font-size: 1rem;
  font-weight: 500;
}
.banner .banner-left .banner-left-container span.name {
  color: rgba(128, 128, 128, 0.581);
  text-transform: uppercase;
  font-family: roboto;
  font-weight: bold;
  font-size: 0.9rem;
}
.banner .banner-right {
  background: url(../img/store-01.jpg) center/cover;
  width: 100%;
  height: 100%;
}

main {
  background: rgba(6, 6, 6, 0.886);
  height: 2250px;
}
main .menu {
  margin-bottom: 60px;
}
main .menu .menu-container {
  text-align: center;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}
main .menu .menu-container h3 {
  color: rgba(255, 166, 0, 0.668);
  font-family: allura;
  font-size: 1.5rem;
  padding-top: 30px;
}
main .menu .menu-container .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}
main .menu .menu-container .menu li {
  color: rgb(234, 224, 224);
  border-bottom: 1px solid rgb(234, 224, 224);
  padding-bottom: 5px;
  display: inline-block;
  margin: 20px;
}
main .color {
  background: url(../img/bg-menu-01.jpg);
}
main .color .color-container {
  display: grid;
  grid-template-columns: 50% 50%;
  -ms-flex-align: center;
      align-items: center;
  background: rgb(234, 224, 224);
  width: 55%;
  margin: 0 auto;
  padding: 40px 0px 0px 0px;
  top: -120px;
  position: relative;
}
main .color .color-container::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgba(151, 111, 37, 0.903);
  top: 0;
}
main .color .color-container .dish-left > div {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  place-self: center;
  width: 90%;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(151, 111, 37, 0.903);
}
main .color .color-container .dish-left > div span.image img {
  border-radius: 50px;
  place-self: center;
  height: 80px;
}
main .color .color-container .dish-left > div .txt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
main .color .color-container .dish-left > div .txt p {
  text-align: left;
  padding: 0 5px 0 22px;
}
main .color .color-container .dish-left > div .txt .first {
  font-family: poppins;
  text-transform: uppercase;
  font-size: 0.8rem;
}
main .color .color-container .dish-left > div .txt .second {
  font-family: roboto;
}
main .color .color-container .dish-left > div span.money {
  place-self: center;
  color: rgba(151, 111, 37, 0.903);
}
main .color .color-container .dish-right > div {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  place-self: center;
  width: 90%;
  margin-bottom: 30px;
  gap: 10px;
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(151, 111, 37, 0.903);
}
main .color .color-container .dish-right > div span.image img {
  border-radius: 50px;
  height: 80px;
}
main .color .color-container .dish-right > div .txt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
main .color .color-container .dish-right > div .txt p {
  text-align: left;
  padding: 0 5px 0 22px;
}
main .color .color-container .dish-right > div .txt .first {
  font-family: poppins;
  text-transform: uppercase;
  font-size: 0.8rem;
}
main .color .color-container .dish-right > div .txt .second {
  font-family: roboto;
}
main .color .color-container .dish-right > div span.money {
  place-self: center;
  color: rgba(151, 111, 37, 0.903);
}
main .reservation {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 70%;
  margin: 50px auto 0;
}
main .reservation .reservation-left {
  background: black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
main .reservation .reservation-left .reservation-left-container {
  text-align: center;
  padding: 20px;
  border: 1px dashed rgb(234, 224, 224);
  width: 85%;
  margin: 15px 0;
}
main .reservation .reservation-left .reservation-left-container h3 {
  color: rgba(151, 111, 37, 0.903);
  font-family: allura;
  font-size: 1.9rem;
  font-weight: normal;
}
main .reservation .reservation-left .reservation-left-container h3,
main .reservation .reservation-left .reservation-left-container h4 {
  line-height: 0.9;
}
main .reservation .reservation-left .reservation-left-container h4 {
  color: white;
  font-family: poppins;
  text-transform: uppercase;
  letter-spacing: 2px;
}
main .reservation .reservation-left .reservation-left-container span.cutlery {
  padding-bottom: 20px;
}
main .reservation .reservation-left .reservation-left-container span.cutlery img {
  height: 20px;
}
main .reservation .reservation-left .reservation-left-container h5 {
  color: rgba(151, 111, 37, 0.903);
  text-transform: uppercase;
  font-family: poppins;
}
main .reservation .reservation-left .reservation-left-container p {
  color: rgb(234, 224, 224);
  font-family: roboto;
  padding: 5px 0 30px 0;
  font-size: 0.8rem;
}
main .reservation .reservation-right {
  background: rgb(234, 224, 224);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
main .reservation .reservation-right .reservation-right-container {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}
main .reservation .reservation-right .reservation-right-container h3 {
  color: rgba(151, 111, 37, 0.903);
  font-family: allura;
  font-size: 1.9rem;
  font-weight: normal;
  padding-top: 50px;
}
main .reservation .reservation-right .reservation-right-container h3,
main .reservation .reservation-right .reservation-right-container h4 {
  line-height: 0.9;
}
main .reservation .reservation-right .reservation-right-container h4 {
  color: black;
  font-family: poppins;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
main .reservation .reservation-right .reservation-right-container span.cutlery {
  padding-bottom: 20px;
}
main .reservation .reservation-right .reservation-right-container span.cutlery img {
  height: 20px;
}
main .reservation .reservation-right .reservation-right-container form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "selec dat heur" "txt tel mail" "vid sub vid";
  gap: 20px;
}
main .reservation .reservation-right .reservation-right-container form input,
main .reservation .reservation-right .reservation-right-container form select {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.581);
}
main .reservation .reservation-right .reservation-right-container form input[type=submit] {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  border: 1px solid black;
  padding: 10px 30px;
  background: black;
  color: rgb(234, 224, 224);
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 3px;
  font-family: poppins;
  transition: 0.3s;
  cursor: pointer;
}
main .reservation .reservation-right .reservation-right-container form input[type=submit]:hover {
  letter-spacing: 5px;
}
main .text {
  text-align: center;
}
main .text h3 {
  color: rgba(151, 111, 37, 0.903);
  font-family: allura;
  font-size: 1.9rem;
  font-weight: normal;
  padding-top: 50px;
}
main .text h3,
main .text h4 {
  line-height: 1;
}
main .text h4 {
  color: white;
  font-family: poppins;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
main .text span.cutlery {
  padding-bottom: 25px;
}
main .text span.cutlery img {
  height: 20px;
}
main .order {
  width: 65%;
  gap: 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 50px;
}
main .order .order-left {
  gap: 20px;
  display: grid;
  height: 300px;
}
main .order .order-left .order-left-upper {
  display: grid;
  grid-template-columns: 40% 60%;
}
main .order .order-left .order-left-upper .icon {
  background: url(../img/event-01.jpg) center/cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
main .order .order-left .order-left-upper .icon .icon-container {
  background: rgba(6, 6, 6, 0.886);
}
main .order .order-left .order-left-upper .icon .icon-container span.date {
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
}
main .order .order-left .order-left-upper .icon .icon-container span.date .num {
  color: white;
  font-family: roboto;
  font-size: 1.5rem;
  font-weight: bold;
}
main .order .order-left .order-left-upper .icon .icon-container span.date .num,
main .order .order-left .order-left-upper .icon .icon-container span.date .nom {
  line-height: 0.8;
}
main .order .order-left .order-left-upper .icon .icon-container span.date .mon {
  color: rgb(234, 224, 224);
  font-family: roboto;
  font-size: 0.8rem;
}
main .order .order-left .order-left-upper .localisation {
  background: rgb(234, 224, 224);
  padding: 5px 10px;
}
main .order .order-left .order-left-upper .localisation .localisation-container h5 {
  font-family: roboto;
  font-weight: 500;
  padding-top: 20px;
  font-size: 1rem;
  letter-spacing: 1.3px;
}
main .order .order-left .order-left-upper .localisation .localisation-container span.geo {
  font-family: poppins;
  color: rgba(149, 149, 149, 0.393);
  font-size: 0.7rem;
  padding: 15px 0;
  display: inline-block;
}
main .order .order-left .order-left-upper .localisation .localisation-container span.geo i {
  color: rgba(128, 128, 128, 0.581);
  font-size: 0.7rem;
}
main .order .order-left .order-left-upper .localisation .localisation-container P {
  font-family: poppins;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.3px;
  padding-bottom: 20px;
}
main .order .order-left .order-left-upper .iconn {
  background: url(../img/event-02.jpg) center/cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
main .order .order-left .order-left-upper .iconn .icon-container {
  background: rgba(6, 6, 6, 0.886);
}
main .order .order-left .order-left-upper .iconn .icon-container span.date {
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
}
main .order .order-left .order-left-upper .iconn .icon-container span.date .num {
  color: white;
  font-family: roboto;
  font-size: 1.5rem;
  font-weight: bold;
}
main .order .order-left .order-left-upper .iconn .icon-container span.date .num,
main .order .order-left .order-left-upper .iconn .icon-container span.date .nom {
  line-height: 0.8;
}
main .order .order-left .order-left-upper .iconn .icon-container span.date .mon {
  color: rgb(234, 224, 224);
  font-family: roboto;
  font-size: 0.8rem;
}
main .order-right {
  background: url(../img/event-03.jpg) center/cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 300px;
}
main .order-right .order-right-container {
  background: rgb(234, 224, 224);
  width: 90%;
  text-align: center;
  height: 90%;
}
main .order-right .order-right-container .icon-container span.date {
  background: rgba(6, 6, 6, 0.886);
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
}
main .order-right .order-right-container .icon-container span.date .num {
  color: white;
  font-family: roboto;
  font-size: 1.5rem;
  font-weight: bold;
}
main .order-right .order-right-container .icon-container span.date .num,
main .order-right .order-right-container .icon-container span.date .nom {
  line-height: 0;
}
main .order-right .order-right-container .icon-container span.date .mon {
  color: rgb(234, 224, 224);
  font-family: roboto;
  font-size: 0.8rem;
  text-transform: capitalize;
}
main .order-right .order-right-container h5 {
  font-family: roboto;
  font-weight: 500;
  padding-top: 20px;
  font-size: 1rem;
  letter-spacing: 1.3px;
}
main .order-right .order-right-container span.geo {
  font-family: poppins;
  color: rgba(149, 149, 149, 0.393);
  font-size: 0.7rem;
  padding: 20px;
  display: inline-block;
}
main .order-right .order-right-container span.geo i {
  color: rgba(128, 128, 128, 0.581);
  font-size: 0.7rem;
}
main .order-right .order-right-container P {
  font-family: poppins;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.3px;
  padding-top: 14px;
}

.map-section {
  background: url(../img/gmap.jpg) center/cover;
  height: 350px;
}
.map-section .map-section-container {
  background: rgb(234, 224, 224);
  margin: 0 auto;
  width: 65%;
  top: -200px;
  padding-bottom: 50px;
  position: relative;
}
.map-section .map-section-container span.image {
  border-radius: 50px;
  display: block;
}
.map-section .map-section-container span.image img {
  height: 60px;
  border-radius: 70px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
}
.map-section .map-section-container .map-container {
  text-align: center;
  padding-top: 70px;
  width: 85%;
  margin: 0 auto;
  font-family: roboto;
}
.map-section .map-section-container .map-container p {
  line-height: 1.7;
  font-size: 0.9rem;
}
.map-section .map-section-container .map-container h5 {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  padding: 30px 0 10px 0;
}
.map-section .map-section-container .map-container h6 {
  color: rgba(151, 111, 37, 0.903);
  font-size: 0.9rem;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  -ms-flex-align: center;
      align-items: center;
  height: 250px;
}
footer footer-left {
  height: 250px;
  background: black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
footer footer-left footer-left-container {
  padding: 15px 25px 15px 190px;
}
footer footer-left footer-left-container h3 {
  color: rgba(151, 111, 37, 0.903);
  font-family: allura;
  font-size: 2rem;
}
footer footer-left footer-left-container p {
  color: rgba(128, 128, 128, 0.581);
  line-height: 1.5;
}
footer footer-right {
  height: 250px;
  background: rgba(6, 6, 6, 0.886);
}
footer footer-right footer-right-container {
  padding: 5px 190px 15px 40px;
  display: block;
}
footer footer-right footer-right-container h3 {
  text-transform: uppercase;
  font-family: roboto;
  color: rgb(234, 224, 224);
  padding-top: 30px;
  font-size: 0.9rem;
}
footer footer-right footer-right-container input[type=email] {
  padding: 6px;
  background: transparent;
  border: 1px solid rgba(128, 128, 128, 0.581);
  width: 65%;
  margin: 13px 0;
}
footer footer-right footer-right-container input[type=email]:focus {
  outline: none;
}
footer footer-right footer-right-container .network {
  display: grid;
  grid-template-columns: 18% 25%;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 34px;
}
footer footer-right footer-right-container .network h4 {
  font-family: roboto;
  text-transform: uppercase;
  color: rgb(234, 224, 224);
  font-size: 0.89rem;
}
footer footer-right footer-right-container .network .network-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
footer footer-right footer-right-container .network .network-icon li a {
  color: rgba(128, 128, 128, 0.581);
  display: inline-block;
  transition: 0.3s;
}
footer footer-right footer-right-container .network .network-icon li a:hover {
  transform: scale(1.3);
}/*# sourceMappingURL=index.css.map */