main {
  background: $black2;
  height: 2250px;

  .menu {
    margin-bottom: 60px;
    .menu-container {
      text-align: center;
      padding: 20px;
      width: 60%;
      margin: 0 auto;

      h3 {
        color: $orange2;
        font-family: $font3;
        font-size: 1.5rem;
        padding-top: 30px;
      }

      .menu {
        @include spacearound;

        li {
          color: $white2;
          border-bottom: 1px solid $white2;
          padding-bottom: 5px;
          display: inline-block;
          margin: 20px;
        }
      }
    }
  }

  .color {
    background: url(../img/bg-menu-01.jpg);

    .color-container {
      @include grid;
      background: $white2;
      width: 55%;
      margin: 0 auto;
      padding: 40px 0px 0px 0px;
      top: -120px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 4px;
        width: 100%;
        background: $orange;
        top: 0;
      }

      .dish-left > div {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        place-self: center;
        width: 90%;
        // margin-right: 10px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px dashed $orange;

        span.image img {
          border-radius: 50px;
          place-self: center;
          height: 80px;
        }

        .txt {
          display: flex;

          align-items: center;

          p {
            text-align: left;
            padding: 0 5px 0 22px;
          }

          .first {
            font-family: $font1;
            text-transform: uppercase;
            font-size: 0.8rem;
          }

          .second {
            font-family: $font2;
          }
        }

        span.money {
          place-self: center;
          color: $orange;
        }
      }

      .dish-right > div {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        place-self: center;
        width: 90%;
        margin-bottom: 30px;
        gap: 10px;
        position: relative;
        padding-bottom: 30px;
        border-bottom: 1px dashed $orange;

        span.image img {
          border-radius: 50px;

          height: 80px;
        }

        .txt {
          display: flex;

          align-items: center;

          p {
            text-align: left;
            padding: 0 5px 0 22px;
          }

          .first {
            font-family: $font1;
            text-transform: uppercase;
            font-size: 0.8rem;
          }

          .second {
            font-family: $font2;
          }
        }

        span.money {
          place-self: center;
          color: $orange;
        }
      }
    }
  }
  .reservation {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 70%;
    margin: 50px auto 0;

    .reservation-left {
      background: $black;
      @include centerChild;

      .reservation-left-container {
        text-align: center;
        padding: 20px;
        border: 1px dashed $white2;
        width: 85%;
        margin: 15px 0;

        h3 {
          color: $orange;
          font-family: $font3;
          font-size: 1.9rem;
          font-weight: normal;
        }
        h3,
        h4 {
          line-height: 0.9;
        }
        h4 {
          color: $white1;
          font-family: $font1;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        span.cutlery {
          padding-bottom: 20px;
          img {
            height: 20px;
          }
        }
        h5 {
          color: $orange;
          text-transform: uppercase;
          font-family: $font1;
        }
        p {
          color: $white2;
          font-family: $font2;
          padding: 5px 0 30px 0;
          font-size: 0.8rem;
        }
      }
    }
    .reservation-right {
      background: $white2;
      display: flex;
      justify-content: center;

      .reservation-right-container {
        width: 80%;
        margin: 10px auto;
        text-align: center;

        h3 {
          color: $orange;
          font-family: $font3;
          font-size: 1.9rem;
          font-weight: normal;
          padding-top: 50px;
        }
        h3,
        h4 {
          line-height: 0.9;
        }
        h4 {
          color: $black;
          font-family: $font1;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 1.2rem;
        }
        span.cutlery {
          padding-bottom: 20px;
          img {
            height: 20px;
          }
        }

        form {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas:
            "selec dat heur"
            "txt tel mail"
            "vid sub vid";
          gap: 20px;

          input,
          select {
            outline: none;
            border: none;
            background: transparent;
            border-bottom: 1px solid $grey;
          }

          input[type="submit"] {
            grid-column: 2;
            grid-row: 3;
            justify-self: center;
            border: 1px solid $black;
            padding: 10px 30px;
            background: $black;
            color: $white2;
            border-radius: 50px;
            text-transform: uppercase;
            font-size: 0.7rem;
            letter-spacing: 3px;
            font-family: $font1;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
              letter-spacing: 5px;
            }
          }
        }
      }
    }
  }
  .text {
    text-align: center;

    h3 {
      color: $orange;
      font-family: $font3;
      font-size: 1.9rem;
      font-weight: normal;
      padding-top: 50px;
    }
    h3,
    h4 {
      line-height: 1;
    }
    h4 {
      color: $white1;
      font-family: $font1;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.2rem;
    }
    span.cutlery {
      padding-bottom: 25px;
      img {
        height: 20px;
      }
    }
  }
  .order {
    width: 65%;
    gap: 15px;
    margin: 0 auto;
    @include grid;
    margin-bottom: 50px;

    .order-left {
      gap: 20px;
      display: grid;
      height: 300px;

      .order-left-upper {
        display: grid;
        grid-template-columns: 40% 60%;

        .icon {
          background: url(../img/event-01.jpg) center/cover;
          @include centerChild;

          .icon-container {
            background: $black2;

            span.date {
              text-align: center;
              padding: 10px 20px;
              display: inline-block;
              .num {
                color: $white1;
                font-family: $font2;
                font-size: 1.5rem;
                font-weight: bold;
              }
              .num,
              .nom {
                line-height: 0.8;
              }
              .mon {
                color: $white2;
                font-family: $font2;
                font-size: 0.8rem;
              }
            }
          }
        }
        .localisation {
          background: $white2;
          padding: 5px 10px;
          .localisation-container {
            h5 {
              font-family: $font2;
              font-weight: 500;
              padding-top: 20px;
              font-size: 1rem;
              letter-spacing: 1.3px;
            }
            span.geo {
              font-family: $font1;
              color: $grey2;
              font-size: 0.7rem;
              padding: 15px 0;
              display: inline-block;

              i {
                color: $grey;
                font-size: 0.7rem;
              }
            }
            P {
              font-family: $font1;
              text-transform: uppercase;
              font-size: 0.8rem;
              letter-spacing: 1.3px;
              padding-bottom: 20px;
            }
          }
        }

        .iconn {
          background: url(../img/event-02.jpg) center/cover;
          @include centerChild;

          .icon-container {
            background: $black2;

            span.date {
              text-align: center;
              padding: 10px 20px;
              display: inline-block;
              .num {
                color: $white1;
                font-family: $font2;
                font-size: 1.5rem;
                font-weight: bold;
              }
              .num,
              .nom {
                line-height: 0.8;
              }
              .mon {
                color: $white2;
                font-family: $font2;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
  .order-right {
    background: url(../img/event-03.jpg) center/cover;
    @include centerChild;
    height: 300px;

    .order-right-container {
      background: $white2;

      width: 90%;
      text-align: center;
      height: 90%;
      .icon-container {
        span.date {
          background: $black2;
          text-align: center;
          padding: 10px 20px;
          display: inline-block;
          .num {
            color: $white1;
            font-family: $font2;
            font-size: 1.5rem;
            font-weight: bold;
          }
          .num,
          .nom {
            line-height: 0;
          }
          .mon {
            color: $white2;
            font-family: $font2;
            font-size: 0.8rem;
            text-transform: capitalize;
          }
        }
      }
      h5 {
        font-family: $font2;
        font-weight: 500;
        padding-top: 20px;
        font-size: 1rem;
        letter-spacing: 1.3px;
      }

      span.geo {
        font-family: $font1;
        color: $grey2;
        font-size: 0.7rem;
        padding: 20px;
        display: inline-block;

        i {
          color: $grey;
          font-size: 0.7rem;
        }
      }
      P {
        font-family: $font1;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 1.3px;
        padding-top: 14px;
      }
    }
  }
}
